<ion-modal-view ng-controller="DocumentModalCtrl" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
    <ion-header-bar>
        <h1 class="title">Doküman Ekle</h1>
        <i class="button button-clear icon ion-ios-close-outline" ng-click="closeModal(1)" style="font-size:16px"></i>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="card ">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-select">
                  <div class = "input-label"> Doküman tipi</div>	
                    <select class="col" ng-model="documentType" ng-init="documentType=documentTypes[0]" 
                      ng-options="documentType.name for documentType in documentTypes">
                    </select>
                </label>
                </div>
                <div class="col">
                    <label class="item item-input">
            <span class="input-label">Verildiği yer</span>
            <input type="text"  ng-model="document.issuer">
          </label>
                </div>
                <div class="col">
                    <button ng-click="saveDocument(document,documentImage,documentType)" class="button button-full button-positive icon-left ">Kaydet</button>

                </div>

            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
    <span class="input-label">Geçerlilik Tarihi</span>
    <input type="date" ng-model="document.validdate" />
  </label>
                </div>
                <div class="col">
                    <label class="item item-input">
    <span class="input-label">Veriliş Tarihi</span>
    <input type="date" ng-model="document.issuedate" />
  </label>
                </div>
                <div class="col ">
                    <button class="button button-block button-positive  icon-left  ion-aperture" ng-click="takePicture()">Take Picture</button>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="card documentImage">
            <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                <img class="" src={{documentImage}} ng-src="{{documentImage}}">
            </ion-scroll>
        </div>


        </div>
        <div>
            <div>
    </ion-content>