<ion-view view-title="Ana Sayfa" class='back'>
  <ion-content>
    <h1>{{social.google.data.full_name}}</h1>

    <ion-list>
           <button class="button button-block button-assertive" ng-click="loginAs('admin')" > Login As Admin</button>
    <button class="button button-block button-assertive" ng-click="loginAs('school')"> Login As School Admin</button>
    <button class="button button-block button-assertive" ng-click="loginAs('teacher')"> Login As School Teacher</button>
    <button class="button button-block button-assertive" ng-click="loginAs('student')"> Login As Student</button>
    <br>
    <button class="button button-block button-royal" ng-click="loginAs('')"> Login </button>
    <br>
    <button class="button button-block button-energized" ng-click="loginAs('dev')"> Login As Test</button>
    
      <ion-item>{{social.google.uid}}</ion-item>
      <ion-item>{{social.google.data}}</ion-item>
      <ion-item>{{social.google.data.raw_data.emails}}</ion-item>
      <ion-item>{{social.google.data.full_name}}</ion-item>
      <ion-item>{{social.google.data.email}}</ion-item>
      <ion-item> <img src="{{social.google.data.profile_picture}}"></ion-item>
      <ion-item>{{social.google.data.raw_data.gender}}</ion-item>
      <ion-item> <img src="{{social.google.data.raw_data.image.url}}"></ion-item>
      <ion-item>{{social.google.data.raw_data.name.familyName}}</ion-item>
      <ion-item>{{social.google.data.raw_data.name.givenName}}</ion-item>
      <ion-item>{{social.google.data.username}}</ion-item>
    </ion-list>

  </ion-content>
</ion-view>