<ion-view view-title="Ana Sayfa" class='back'>
  <ion-content>
    <h1>{{social.google.data.full_name}}</h1>

    <button class="button button-block button-assertive" ng-click="loginAs('admin')" > Login As Admin</button>
    <button class="button button-block button-assertive" ng-click="loginAs('school')"> Login As School Admin</button>
    <button class="button button-block button-assertive" ng-click="loginAs('teacher')"> Login As School Teacher</button>
    <button class="button button-block button-assertive" ng-click="loginAs('student')"> Login As Student</button>
    <br>
    <button class="button button-block button-royal" ng-click="loginAs('')"> Login </button>
    <br>
    <button class="button button-block button-energized" ng-click="loginAs('dev')"> Login As Test</button>

  </ion-content>
</ion-view>