<ion-view view-title="Spor Dalı" ng-controller="BranchCtrl">
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/updatebranch/{{item.id}}">Edit {{item.name}}</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar"> 
        <img src="{{item.thumbnailUrl}}">
        <h2>{{item.name}} </h2>
      </div>
    </div>

    <div class="list card" ng-show="item.isBeltEnabled">
      <div class="item item-divider">
        Kuşaklar
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
        <ion-item class="item  " ng-repeat="item in belts">
          {{item.name}}
          <div class="item-note" style="background:{{item.color}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>