<ion-view view-title="Spor Dalı Ekle" ng-controller="BranchCtrl">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text"  ng-model="item.name"></input>
  </label>
    </div>
    <div class="item">
      <ion-checkbox ng-model=" item.isBeltEnabled ">Kuşak var mı?</ion-checkbox>
    </div> 


    <div class="list card" ng-show="item.isBeltEnabled">
      <div class="item item-divider  item-button-right">
        Kuşaklar
        <button class="button button-icon icon ion-plus-round" ng-model="belt" ng-click="openModal();">
      </div>
      <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
       <ion-item class="item  " ng-repeat="item in belts">
          {{item.name}}
          <div class="item-note" style="background:{{item.color}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </ion-item>
      </ion-list>
    </div>

    <button class="button button-block button-calm " ng-click="addItem(item) ">Save</button>
  </ion-content>

  <!-- add belt modal -->
  <script id="add-belt.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Kemer özelliklerini giriniz</h1>
        <button class="button" ng-click="closeModal()">close</button>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <label class="item item-input">
            <div class="input-label">İsim</div>                
            <div class="input-label">
              <input type="text"  ng-model="belt.name"></input>
            </div>     
          </label>
          <label class="item item-input ">
            <div class="input-label">Renk</div>                
            <div class="input-label">
 
                <button class="button" color-picker="" color-mode="name" model-mode="" ng-model="belt.color"
                 modal-title="Renk seçiniz.!" color-box="{{belt.color}}" named-colors="customColors">
    {{ belt.color || 'Renk seçiniz.' }} 
</button>   
            </div>     
          </label>
          <label class="item item-input">
            <div class="input-label">Sıra</div>                
            <div class="input-label">
              <input type="text"  ng-model="belt.order"></input>
            </div>     
          </label>
          <label class="item item-input">
            <div class="input-label">Açıklama</div>                
            <div class="input-label">
              <input type="text"  ng-model="belt.description"></input>
            </div>     
          </label>
          <label class="item item-input">
            <div class="input-label">İkon</div>                
            <div class="input-label">
              <input type="text"  ng-model="belt.thumbnailUrl"></input>
            </div>     
          </label>
          <button ng-click="saveBelt(belt)" class="button button-positive button-full"> Ekle </button>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>