<ion-view view-title="Okullar" ng-controller="SchoolCtrl">
    <ion-nav-buttons side="right">
        <button ui-sref="app.addschool">
      Add School
    </button>
    </ion-nav-buttons>
    <ion-content>
        {{profile.name}}
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item class="item item-avatar" ng-repeat="school in items" href="#/app/schools/{{school.id}}">
                <!-- <img src="{{school.thumbnailUrl}}"> -->
                <!--<img src="img\boy.jpg">-->
                {{school.name}}

                <ion-option-button class="button-info" ng-click="edit(school)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>