<ion-view view-title="Add School" ng-controller="SchoolCtrl">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text"  ng-model="item.name"></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Phone</span>
    <input type="text" ng-model="item.phone" ></input>
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" ng-model="item.email" ></input>
  </label>

      <label class="item item-input item-stacked-label">
    <span class="input-label">Street</span>
    <input type="text" ng-model="item.street" ></input>
  </label>

      <label class="item item-input item-stacked-label">
    <span class="input-label">City</span>
    <input type="text" ng-model="item.city" ></input>
  </label>

      <label class="item item-input item-stacked-label">
    <span class="input-label">State</span>
    <input type="text" ng-model="item.state" ></input>
  </label>

      <label class="item item-input item-stacked-label">
    <span class="input-label">Postcode</span>
    <input type="text" ng-model="item.postcode" ></input>
  </label>


    </div>


    <button class="button button-block button-calm" ng-click="addItem(item)">Save</button>
  </ion-content>
</ion-view>