<ion-view view-title="Add Class" ng-controller="ClassCtrl">
    <ion-nav-buttons side="right">
    <a class="button" ng-click="deleteItem(item)">deleteClass</a>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div>
      {{schoolname}}
    </div>

    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text"  ng-model="item.name"></input>
  </label>


      <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" ng-model="item.email" ></input>
  </label>

      <label class="item item-input item-stacked-label">
    <span class="input-label">Price</span>
    <input type="number" ng-model="item.price" ></input>
  </label>

    </div>

    <button class="button button-block button-calm" ng-click="addItem(item)">Save</button>
  </ion-content>
</ion-view>