<ion-view view-title="Add Room" ng-controller="RoomCtrl">
  <ion-content class="padding">

    <div>
      {{schoolname}}
    </div>

    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text"  ng-model="item.name"></input>
  </label>

    </div>

    <button class="button button-block button-calm" ng-click="addItem(item)">Save</button>
  </ion-content>
</ion-view>