<ion-view view-title="Room" ng-controller="RoomCtrl">
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/updateroom/{{item.id}}">Edit room</a>
    <a class="button" href="#/app/updateroom/{{item.id}}">Add Room</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <h2>{{item.name}} </h2>
      </div>
    <div class="item item-divider">
      Room Settings
    </div>

    </div>
  </ion-content>
</ion-view>