<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Ödeme Yap</h1>
        <i class="button button-clear icon ion-ios-close-outline" ng-click="closeModal(2)" style="font-size:16px"></i>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="card ">
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Ödeme Tarihi</span>
                        <input type="date" ng-model="payment.date" ></input>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Tutar</span>
                        <input type="number" ng-model="payment.amount" ></input>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Not</span>
                        <input type="text" ng-model="payment.note" ></input>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button ng-click="addPaymet(payment)" class="button button-full button-positive icon-left ">Kaydet</button>
                </div>
            </div>


        </div>
    </ion-content>
</ion-modal-view>