<ion-view view-title="Eğitmenler" ng-controller="TeacherCtrl">
    <ion-nav-buttons side="right">
        <button ui-sref="app.addteacher">
      Eğitmen Ekle
    </button>

    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getItems()"> </ion-refresher>

        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <div class="row">
                <div class="col col-10 item-avatar"> </div>
                <div class="col col-10"> İsim</div>
                <div class="col col-10"> Soyisim</div>
                <!--   <div class="col">{{teacher.date.format('DD-MM-YYYY')}}</div> -->
                <div class="col"> Telefon 1</div>
                <div class="col"> Telefon 2</div>
                <div class="col"> Vize Bitiş Tarihi</div>
                <div class="col"></div>
            </div>
            <ion-item class="item item-avatar" ng-repeat="teacher in items" href="#/app/addteacher/{{teacher.$id}}">

                <div class="row">
                    <div class="col col-10 item-avatar">
                        <!-- <img src="{{teacher.image}}"> --></div>
                    <div class="col col-10"> {{teacher.name}}</div>
                    <div class="col col-10"> {{teacher.surname}}</div>

                    <!--   <div class="col">{{teacher.date.format('DD-MM-YYYY')}}</div> -->
                    <div class="col"> {{teacher.phone}}</div>
                    <div class="col"> {{teacher.phone}}</div>
                    <div class="col"> {{teacher.vizeBitis | date: 'dd-MM-yyyy' }}</div>
                    <div class="col"></div>
                </div>

                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(teacher)">
                </ion-delete-button>

                <ion-option-button class="button-assertive button-" ng-click="deleteItem(teacher);">
                    Delete
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>