<ion-view view-title="Eğitmen Ekle" ng-controller="TeacherCtrl">
    <ion-content scroll="false">
        <div class="maincontent">
            <div class="sidebar ">
                <div class="list card  ">
                    <div class="item item-body">
                        <img class="full-image roundBorder " src={{item.image}} ng-src="{{image}}">
                        <p>
                            <button class="button button-block button-positive icon-left  ion-aperture" ng-click="takePicture()">Fotoğraf Çek</button>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col col-40">Lisans</div>
                        <div class="col-60">
                            <input type="text" ng-model="item.licence" placeholder="Lisans no giriniz." />
                        </div>
                    </div>

                    <!--     <div class="row">
                        <div class="col">Vize Başlangıç </div>
                        <div class="col">
                            <input type="date" ng-model="dates.vizeBaslangic" />
                        </div>
                    </div>
                    -->
                    <div class="row">
                        <div class="col col-40 positive">Vize Bitiş </div>
                        <div class="col col-60">
                            <input type="date" ng-model="dates.vizeBitis" />
                        </div>
                    </div>
                    <div class="row">
                        <button class="button button-block button-positive" ng-click="addItem(item,dates)">Kaydet</button>
                    </div>

                    <div class="row row-bottom">
                        <button class="button button-block button-positive" ng-click="openModal(1)">Döküman Ekle</button>
                    </div>

                    <div class="row row-bottom">
                        <button class="button button-block button-positive" ng-click="openModal(2)">Ödeme Yap</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="content">
            <!-- Birinci Satır  Başlangıç-->
            <div class="  card">

                <div class="item item-divider item-icon-left item-icon-right    " ng-click="showOzluk = !showOzluk" ng-init="showOzluk=true">
                    <i class="icon ion-ios-person"></i> Özlük bilgileri
                    <i ng-class="{'icon ion-arrow-up-b': showOzluk, 'icon ion-arrow-down-b': !showOzluk}"> </i>
                </div>

                <div ng-show="showOzluk" class="  item item-body">
                    <div class="row">
                        <!--Adı -->
                        <div class="col">
                            <label class="item item-input item-stacked-label ">
                                <span class="input-label grey ">Adı</span>
                                <input    type="text" class="" ng-model="item.name" placeholder="Adını giriniz." >  
                            </label>
                        </div>
                        <!--Soyadı -->
                        <div class="col">
                            <label class="item item-input item-stacked-label  ">
                                <span class="input-label grey">Soyadı</span>
                                <input type="text"  ng-model="item.surname" placeholder="Soyadını giriniz." >  
                            </label>
                        </div>
                        <!--Doğum Tarihi -->
                        <div class="col">
                            <label class="item item-input item-stacked-label ">
                                <span class="input-label grey ">Doğum Tarihi</span>
                                <input class="" type="date" ng-model="dates.birthDate" placeholder="Doğum tarihini giriniz.." />
                            </label>
                        </div>
                        <!--Doğum Yeri -->
                        <div class="col">
                            <label class="item item-input item-stacked-label grey">
                                <span class="input-label grey">Doğum Yeri</span>
                                <input type="text"  ng-model="item.birthPlace" placeholder="Doğum yerini giriniz." >  
                            </label>
                        </div>
                    </div>
                    <!--- Birinci Satır Bitiş -->
                    <!-- İkinci Satır  Başlangıç-->
                    <div class="row">
                        <!--TCKN -->
                        <div class="col col-25">
                            <label class="item item-input item-stacked-label ">
                                <span class="input-label grey ">Cep Telefonu</span>
                                <input type="tel" ng-model="item.mobilePhone" placeholder="Telefon giriniz." class="" />
                            </label>
                        </div>
                        <div class="col col-25">
                            <label class="item item-input item-stacked-label grey">
                                <span class="input-label grey">Ev Telefonu</span>
                                <input type="tel" ng-model="item.phone" placeholder="Telefon giriniz.." />
                            </label>
                        </div>
                        <!--Doğum Tarihi -->

                        <div class="col col-25">
                            <label class="item item-input item-stacked-label grey ">
                                <span class="input-label grey ">İşe Giriş Tarihi</span>
                                <input  class="" type="date" ng-model="dates.workBegin" placeholder="İşe giriş tarihini giriniz.." />
                            </label>
                        </div>
                        <!--    -->
                        <div class="col col-25">
                            <label class="item item-input item-stacked-label grey">
                                <span class="input-label grey">İşten Çıkış  Tarihi</span>
                                <input type="date" ng-model="dates.workEnd" placeholder="İşten çıkış tarihini giriniz.." />
                            </label>

                        </div>

                    </div>
                    <!--- İkinci Satır Bitiş -->
                    <!-- Üçüncü Satır  Başlangıç-->
                    <div class="row">
                        <!--TCKN -->
                        <div class="col col-25">
                            <label class="item item-input item-stacked-label grey">
                                <span class="input-label grey ">Tckn</span>
                                <input type="number" ng-model="item.tckn" placeholder="Tckn giriniz." class=""/>
                            </label>
                        </div>
                        <!--SGK -->
                        <div class="col col-25">
                            <label class="item item-input item-stacked-label grey">
                                <span class="input-label grey">Sgk</span>
                                <input type="text" ng-model="item.sgk" placeholder="SGK no giriniz." />
                            </label>
                        </div>



                    </div>
                    <!--- Üçüncü Satır Bitiş -->
                    <!-- Dördüncü Satır  Başlangıç-->
                    <div class="row">
                        <!--  -->
                        <div class="col col-25">
                            <label class="item item-input item-stacked-label grey">
                                <span class="input-label grey ">Eposta</span>
                                <input type="email" ng-model="item.email" placeholder="Eposta adresi giriniz." class="" />
                            </label>

                        </div>
                        <div class="col col-25">

                        </div>
                        <!--  -->

                    </div>
                </div>
            </div>
            <!--- Dördüncü Satır Bitiş -->


            <div class="list card">
                <div class="item item-divider item-icon-left item-icon-right   " ng-click="showSalary = !showSalary" ng-init="showSalary=false">
                    <i class="icon ion-cash"></i> Ücret
                    <i ng-class="{'icon ion-arrow-up-b': showSalary, 'icon ion-arrow-down-b': !showSalary}"> </i>

                </div>
                <div ng-show="showSalary" class="row item item-body">
                    <div class="col">
                        <div class="list">
                            <label class="  item-input">
                    <span class="input-label">Aylık</span>
                    <input type="number" ng-model="item.montlySalary" />
                </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label class="  item-input">
                    <span class="input-label">Saat</span>
                   <input type="number" ng-model="item.hourlySalary" />
                </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label class="  item-input">
                    <span class="input-label">Yüzde</span>
                    <input type="number" ng-model="item.percentSalary" />
                </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="list card">
                <div class="item item-divider item-icon-left item-icon-right   " ng-click="showPayments = !showPayments" ng-init="showPayments=false">
                    <i class="icon ion-ios-paper"></i> Ödemeler
                    <i ng-class="{'icon ion-arrow-up-b': showPayments, 'icon ion-arrow-down-b': !showPayments}"> </i>
                </div>
                <div ng-show="showPayments">
                    <div class="row">
                        <div class="col 20"> Tarih</div>
                        <div class="col 20"> Tutar</div>
                        <div class="col 20"> Alan</div>
                        <div class="col 40"> Notlar</div>

                    </div>
                    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
                        <ion-item class="item item-avatar" ng-repeat="item in item.payments">
                            <div class="row">

                                <div class="col 20 "> {{item.date | date: 'dd-MM-yyyy' }}</div>
                                <div class="col 20"> <span class="right">{{item.amount | currency: "" : 0 }} TL &nbsp;&nbsp;</span></div>
                                <div class="col 20"> {{item.payee }}</div>
                                <div class="col 40"> <span class="item-note">{{item.note }}</span></div>

                            </div>
                            <ion-option-button class="button-info" ng-click="edit(item)">
                                Edit
                            </ion-option-button>
                            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                            </ion-delete-button>
                        </ion-item>
                    </ion-list>
                </div>
            </div>


            <!-- -->
            <div class="list card">
                <div class="item item-divider item-icon-left item-icon-right   " ng-click="showDocs = !showDocs" ng-init="showDocs=false">
                    <i class="icon ion-ios-paper"></i> Dökümanlar
                    <i ng-class="{'icon ion-arrow-up-b': showDocs, 'icon ion-arrow-down-b': !showDocs}"> </i>
                </div>
                <div ng-show="showDocs">
                    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
                        <ion-item class="item item-avatar" ng-repeat="item in item.documents">
                            <div class="row">
                                <div class="col"> {{item.name}}</div>
                                <div class="col"> {{item.issuedate | date: 'dd-MM-yyyy' }}</div>
                                <div class="col"> {{item.validdate | date: 'dd-MM-yyyy' }}</div>
                                <div class="col"></div>
                            </div>
                            <ion-option-button class="button-info" ng-click="edit(item)">
                                Edit
                            </ion-option-button>
                            <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                            </ion-delete-button>
                        </ion-item>
                    </ion-list>

                </div>
            </div>
        </div>
        </div>

    </ion-content>
</ion-view>