<ion-view view-title="Öğrenci" ng-controller="StudentCtrl">
  <ion-nav-buttons side="right">
    <a class="button" href="#/app/updatestudent/{{item.id}}">Edit Student</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{item.thumbnailUrl}}">
        <h2>{{item.name}} {{item.surname}}</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-block" ng-class="{ active: isSet(1) }" ng-click="setTab(1)">Kişisel Bilgiler</a>
          <a class="button button-block" ng-class="{ active: isSet(2) }" ng-click="setTab(2)">Boy/Kilo</a>
          <a class="button button-block" ng-class="{ active: isSet(3) }" ng-click="setTab(3)">Kuşak</a>
          <a class="button button-block" ng-class="{ active: isSet(4) }" ng-click="setTab(4)">Lisans</a>
          <a class="button button-block" ng-class="{ active: isSet(5) }" ng-click="setTab(5)">Ödemeler</a>
        </div>
        <div ng-show="isSet(1)">
          <img src="{{item.imageUrl}}">
          <p>



            <div class="row">
              <div class="input-label col-20">Phone</div>
              <div class="input-label col-70">{{item.phone}}</div>
            </div>
            <div class="row">
              <div class="input-label col-20">Email</div>
              <div class="input-label col-70">{{item.email}}</div>
            </div>
            <div class="row">
              <div class="input-label col-20">Street</div>
              <div class="input-label col-70">{{item.street}}</div>
            </div>
            <div class="row">
              <div class="input-label col-20">City</div>
              <div class="input-label col-70">{{item.city}}</div>
            </div>
            <div class="row">
              <div class="input-label col-20">State</div>
              <div class="input-label col-70">{{item.state}}</div>
            </div>
            <div class="row">
              <div class="input-label col-20">Postcode</div>
              <div class="input-label col-70">{{item.postcode}}</div>
            </div>

          </p>
        </div>
        <div ng-show="isSet(2)">
          <div class="list">
            <div class="item">
              <label class=" item-input item-stacked-label">
              <span class="input-label">Kilo : {{weight}}</span>
              <div class="  range range-positive">
                  <i   ng-click="addWeight(-1)">0</i>
                  <input type="range" name="volume" min="0" max="220" value="65" ng-model="weight">
                  <i ng-click="addWeight(1)">220</i>
              </div>
              </label>
            </div>
            <div class="item">
              <label class=" item-input item-stacked-label">
              <span class="input-label">Boy : {{height}}</span>
              <div class="  range range-positive">
                  <i   ng-click="addWeight(-1)">0</i>
                  <input type="range" name="volume" min="0" max="220" value="165" ng-model="height">
                  <i ng-click="addWeight(1)">220</i>
              </div>
              </label>
            </div>
          </div>
        </div>
        <div ng-show="isSet(3)">
        </div>
        <div ng-show="isSet(4)">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>