@charset "UTF-8";

/* Empty. Add your own CSS if you like */

.input-label {
    font-size: 14px !important;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: block;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 16px !important;
    line-height: 16px;
}

.roundBorder {
    border-radius: 1%;
}

.card {
    border-radius: 0% !important;
}

.pane,
.scroll-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-appearance: none;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.fullHeight {
    height: 90vh;
}

.documentImage {
    height: 50vh;
}

body {
    background: #EF6C00;
}

.sidebar {
    width: 300px;
    /* height: 100%;*/
    height: 100vh;
    float: left;
    background: #eee;
    padding: 10px;
    overflow: auto;
}

.content {
    margin-left: 300px;
    padding: 10px;
    background: #ccc;
    overflow: auto;
    height: 100vh;
}


/* buttons */

.darklime {
    background: #AFB42B;
    background: #387ef5;
    background: #32db64;
    background: #f53d3d;
    background: #f4f4f4;
    background: #222;
}


/*
@media (max-width: 768px) {
  .sidebar {
     width: 100vw;
     overflow: auto;
  }
  .content
  {
    float: left; 
    width: 100vw;
    margin-left: 0px; 
  }
  .maincontent
  {
     overflow: auto;
    
  }
}
*/

.zoom-pane {
    width: 100%;
    height: 100%;
}

.zoom-pane .scroll {
    min-height: 100%;
    /* Vertical align */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100%;
    vertical-align: middle;
}

.platform-ios.platform-cordova:not(.fullscreen) .search-bar {
    margin-top: 20px;
}